.Contact{
  margin-bottom: 0%;
  margin: 0%;
  padding:0%;
}

.Contactheroo{
/* background-color: #2f4f4f; */
box-shadow: 1px 3px 2px rgb(0, 0, 0);
margin-top: 3px;
margin-bottom: 0%;
padding-top: 2%;
 background-color: #383737;
color: white;
height: 35vh;
}



.Contacttex{
    gap: 8px;
    margin-top: 5vh;
    display: flex;
    margin-bottom: 0%;
}

.Contacttex h2{
    margin-top: 0%;
    font-size: 30px;
    padding-left: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0%;
    text-shadow: 1px 1px 0px rgb(19, 120, 235);
}

.Contacttex h1{
 font-size: 15px;
 margin-left: 0%;
 margin-top: 0%;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 margin-bottom: 0%;
 padding-left:39px;
 padding-bottom: 0%;
text-shadow: 1px 1px 0px rgb(19, 120, 235);
}

.Contacttex h3{
    width: 80%;
    font-family: monospace;
    font-size: 13px;
    padding-left:40px;    
    margin-top: 0%;
}



.Contacttex .Contaimg{
    margin-top: 0%;
    width: 70%;
    text-align: end;
    padding-right: 5%;
}

.Contacttex .Contaimg img{
    border-radius: 50%;
    border: white;
    width: 120px;
    border: 2px solid white; 
    animation: trackingBeepContact 1.5s infinite; 
}
@keyframes trackingBeepContact {

  0%{
    transform: scale(1);
    box-shadow: 0 0 0 0 black;
  }

  50%{
    transform: scale(1.1);
    box-shadow: 0 0 1px 2px  black;
  }

  100%{
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0. 7);
  }

}


.Contactpick{
margin-top: 0%;
display: flex;
}

.ContactTeam{
    width: 48%;
}

.ContactTeam h1{
    justify-content: center;
    text-align: center;
    font-size: 15px;
}



.slide-container{
    width:20%;
    text-align: center;
    margin-left: 5%;
    margin-top: 0%;
}

.each-slide img{
    width:20%;
    border-radius: 50%;
    /* object-fit:cover; */
    background: white;
}


.contentson{
  margin-top: 9vh;
  margin-bottom: 0vh;
}



/* another */
.Contacded{
  display: flex; 
  margin-top:0px;
  margin-bottom: 0%;
  gap:3%;
  padding:2%;
  box-shadow: 2px 2px 2px rgb(30, 30, 31);
}

.contentmom{
    /* background-color: #383737; */
  color: black; 
  width: 50%;
box-shadow: 1px 3px 2px rgb(0, 0, 0);
  }

  
.contentmom:hover{
  transform: translateY(-5px);
}


.contentmom h1{
  padding-top: 10vh;
  padding-left: 3%;
  margin-bottom: 1%;
  /* text-shadow: 2px 3px 2px rgb(0, 0, 0); */
  font-size: 50px;
  padding-bottom: 0%;
}

.contentmom h2{
  padding-left: 4%;
  width: 78%;
  /* text-shadow: 1px 1px 1px rgb(0, 0, 0); */
  font-size: 15px;
  margin-top: 0%;
  padding-top: 0%;
}

/* BUTTONS */
.contentmom .contact-buttons {
  gap:15px;
  display: flex;
  margin-top:20px;
  margin-left: 3%;
  /* width: 30%; */
}

.contact-buttons button{
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: solid;
  background-color: transparent;
  /* text-shadow: 2px 3px 2px rgb(0, 0, 0); */
  border: 1px solid white;
  box-shadow: 2px 2px 2px rgb(30, 30, 31);
  border-radius:5%;
}





.Contactform{
  margin-top: 0px;
  display: flex;
  justify-content: center;
  padding-bottom: 2vh;
  box-shadow: 2px 2px 2px rgb(30, 30, 31);
  /* border: 1px solid rgb(0, 0, 0); */
  /* background: #025788; */
  width: 80%;
}

.contact-form-wrapper{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 10vh;
}

.Contacdedfrom{
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: auto;
  
}

.Contacdedfrom:hover{
  transform: translateY(-4px);
}





.map {
  width: 100%;
  margin-top: 1vh;
}

.map iframe {
  border-radius: 2px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}






@media (max-width:768px){
/* .Contacttex img{
  width: 15%;
  margin-top: 1%;
} */

.Contactheroo{
  height:25vh;
}

.Contacttex {
   margin-top: 5vh;
  }



  .Contactnum h2{
    padding-left: 8%;
  }

  .Contactnum h1{
   padding-left: 10%;

  }

  .Contactnum h3{
   padding-left: 10%;
   width: 85%;
   font-size: 11px;
  }


  .Contactpick{
    display: grid;
  }

  .ContactTeam {
    font-size: 20px;
    width: 100%; 
    height: 0vh;    

  }

  .Contacttex .Contaimg{
    margin-top: 1%;
  }
  .Contacttex .Contaimg img{
    width:43%;
    margin-top: 3%;
    margin-left:40%;

  }

  .slide-container{
    margin-top: 2vh;
    margin-left: 0%;
    padding-left: 0%;
  }

  .slide-container img{
    width: 28%;
  }

  .contentson{
    margin-top: 4vh;
  }
  .contentson h2{
    margin-top: 1vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

   .Contacded{
    display: grid;
    margin-top: 3vh;
    padding: 0%;
  }

  .contentmom{
    /* width:75%; */
    width: auto;
    height: 35vh;
    color: white;
    background-color: #383737;
    background-image: none;
    filter: brightness(0.99);
  }

  .contentmom h1{
    padding-top:5vh;
    font-size: 28px;
    padding-left: 4%;
  }

  .contentmom h2{
    font-size: 16px;
    width: 75%;
  }

  .Contacded .contact-buttons{
    display: flex;
  }
  .Contacded .contact-buttons button{
    padding-top: 2px;
    padding-bottom: 2px;
  }


  /* BUTTONS */
.contentmom .contact-buttons {
  gap:8px;
  color: white;
  display: flex;
  margin-top:20px;
  margin-left: 3%;
  /* width: 30%; */
}


.contact-buttons button{
  padding-top: 2px;
  padding-bottom: 2px;
  text-decoration: solid;
  color: white;
  background-color: transparent;
  /* text-shadow: 2px 3px 2px rgb(0, 0, 0); */
  border: 1px solid white;
  box-shadow: 2px 2px 2px rgb(30, 30, 31);
  border-radius:none;
}


  /* .Contactform{
    width: 100%;
    margin: 0%;
    padding: 0%;

  }

  .Contactform input{
    width: 100%;
  } */

  
.Contacdedfrom{
  width: 95%;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.Contacdedfrom:hover{
  transform: translateY(5px);
}


  






}


 