.shiprlift-contactpage{
margin:0;
padding:0;
font-family:system-ui;
}

/* HERO SECTION */

.shiprlift-contactpage-hero{
display:flex;
margin-top: 3px;
box-shadow: 2px 2px 2px rgb(0, 0, 0);
justify-content:space-between;
align-items:center;
padding:50px;
background:#383737;
color:white;
flex-wrap:wrap;
}

.shiprlift-contactpage-herotext h2{
font-size:28px;
margin-bottom:5px;
text-shadow: 1px 1px rgb(131, 183, 251);
}

.shiprlift-contactpage-herotext h1{
font-size:20px;
margin-bottom:10px;
}

.shiprlift-contactpage-herotext p{
max-width:400px;
font-size:14px;
}

.shiprlift-contactpage-buttons{
margin-top:15px;
display:flex;
gap:10px;
}

.shiprlift-contactpage-buttons button{
padding:8px 14px;
border:none;
background:#0b7dda;
color:white;
cursor:pointer;
border-radius:4px;
}

.shiprlift-contactpage-buttons .secondary{
background:#25D366;
}

.shiprlift-contactpage-heroimg img{
width:120px;
border-radius:50%;
border:3px solid white;
animation: trackingBee 1.5s infinite;
}


@keyframes trackingBee {

  0%{
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(3, 142, 248, 0.7);
  }

  50%{
    transform: scale(1.1);
    box-shadow: 0 0 0px 2px rgb(197, 197, 1);
  }

  100%{
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 247, 0, 0);
  }

}

/* SLIDER */

.shiprlift-contactpage-slider{
width:10%;
border: transparent;
border-radius: 90%;
margin-top:0px;
margin-left: 15%;
}

.shiprlift-contactpage-slide img{
width:29%;
margin-top: 0vh;
/* height:30px; */
border-radius: 50%;
background: white;
}

/* CONTACT INFO CARDS */

.info p{
  text-align: center;
  text-decoration: solid;
  font-family: monospace;
}


.info:hover{
  color: blue;
  text-decoration: underline;
}

.shiprlift-contactpage-info{
display:flex;
margin-top: 4px;
justify-content:center;
gap:20px;
flex-wrap:wrap;
padding:30px;
box-shadow: 1px 1px 1px rgb(0, 0, 0);
border: 1px solid black;
}


.shiprlift-contactpage-card{
width:220px;
padding:20px;
background-color: rgb(6, 143, 143);
box-shadow:0 3px 10px rgba(0,0,0,0.1);
text-align:center;
border-radius:6px;
}

.shiprlift-contactpage-card h3{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
color: white;
}



.shiprlift-contactpage-card p{
 color: white;
 font-family: inherit;
 font-size: 15px;
 text-decoration: underline;
}

/* WHY SECTION */

.shiprlift-contactpage-why{
text-align:center;
padding:40px 20px;
}

.shiprlift-contactpage-why h1{
  margin-top: 0%;
  margin-bottom: 9vh;
  text-decoration: underline;
}

.shiprlift-contactpage-why h1:hover{
  color:blue;
}

.shiprlift-contactpage-whygrid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
margin-top:20px;
background-color: antiquewhite;
}

.shiprlift-contactpage-whycard{
background-color: rgb(4, 4, 104);
color: white;
padding:20px;
border-radius:6px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.shiprlift-contactpage-whycard:hover{
  background-color: rgb(4, 4, 104);
  color: white;
  transform: translateY(-2px);
}

.shiprlift-contactpage-whycard p{
  font-family:monospace;
  text-decoration: underline;  
}

.shiprlift-contactpage-whycard p:hover{
  transform: translateY(-2px);
}



/* FORMS */

.shiprlift-contactpage-forms{
display:flex;
height: 80vh;
margin-bottom: 0%;
gap:10px;
padding-right: 1%;
padding-left: 2px;
/* flex-wrap:wrap; */
}

.shiprlift-contactpage-formbox{
width:80%;
/* display: flex; */
}

.shiprlift-contactpage-form{
display:flex;
flex-direction:column;
gap:15px;
margin-top:15px;
}
.lk{    background-color: black;
  border-radius: 1%;
}
.ikk{
  flex: 1;
  justify-content: end;
  padding-left: 5%;
  /* background-color: rgb(121, 109, 94); */
  background-color: black;
  /* box-shadow: 2px 2px 2px rgb(0, 0, 0); */
  padding-right: 5%;
  color:white ;
  height: 77vh;
  border-radius: 1%;
}

.lk h2{
  margin-top: 5%;
  padding-top: 3vh;
  font-family:inherit;
  text-align: center;
}

.lk h2:hover{
  color: blue;
  text-decoration: underline;
}

.lk p{
  text-align: center;
  font-family: initial;
}

.lk p:hover{
  color: blue;
  text-decoration: underline;
}

.lk h3{
  text-align: center;
  font-family: monospace;
}

.lk h3:hover{
  text-decoration: underline;
}

.ikk h1{
  text-decoration: underline;
  text-align: center;
}

.lk h1:hover{
  color: blue;
  text-decoration: underline;
}

.privacy-arrow {
  text-decoration: none; /* remove underline */
  color: #0073e6;        /* color change on hover */
  font-weight: bold;
  font-size: 25px;
  text-decoration: underline;
  margin-left: 5px;      /* space from text */
  transition: transform 0.2s, color 0.2s; /* smooth hover */
}

.privacy-arrow:hover {
  color: yellow;        /* color change on hover */
  transform: translateX(5px); /* arrow slides right on hover */
}


.shirlogg{
  margin-top: 0%;
  /* display: flex; */
  margin-left: 4%;
}
.phone-icon {
  color: black;      /* desktop default color */
  font-size: 15px !important;  /* adjust size */
  margin-top: 3px;
  margin-right: 8px; /* space between icon and number */
}

.phone-icon:hover{
  transform: translateY(-2px);
}


.shirlogg h5{
  margin-top: 2px;
  padding-top: 0%;
}

.shirlogg h5:hover{
  color:blue;
  /* text-decoration: underline; */
}

.shione {
  display: flex;
}

.mail-icon{
  color: black;
  margin-top:4px;
  font-size: 15px !important;
}

.mail-icon:hover{
  transform: translateY(-2px);
  text-decoration: underline;
}


.shirlogg h6{
  margin-top: 0px;
  font-size: 15px;
  padding-left: 2px;
}

.shirlogg h6:hover{
  color:blue;
  text-decoration: underline;
}



.shitwo{
  display: flex;
  margin-top: 0%;
  margin-bottom:0%;
  padding-bottom: 0%;
}

.phoneopicc{
  margin-top: 0%;
  padding-top: 0%;
  /* display: none; */
  text-align: end;
  margin-bottom: 2vh;
  justify-content: end;
  text-align: end;
}



.phoneopicc img{
  width:8%;
  padding-top: 0%;
  margin-top: 0vh;
  animation: trackingBe 1.5s infinite;
}


@keyframes trackingBe {

  0%{
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(3, 142, 248, 0.7);
  }

  50%{
    transform: scale(1.1);
    box-shadow: 0 0 0px 0px rgba(4, 52, 242, 0.3);
  }

  100%{
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 247, 0, 0);
  }

}

/* MAP */

.shiprlift-contactpage-map{
margin-top:11vh;
border: 1px solid black;
box-shadow: 2px 2px 2px rgb(0, 0, 0);
}


/* FOOTER */

.shiprlift-contactpage-footer{
margin-top:0px;
}




/* MOBILE RESPONSIVE */

@media(max-width:768px){

.shiprlift-contactpage-hero{
display:flex;
margin-top: 3px;
box-shadow: 2px 2px 2px rgb(0, 0, 0);
justify-content:space-between;
align-items:none;
padding:20px;
background:#383737;
color:white;
flex-wrap:nowrap;
}

.shiprlift-contactpage-hero h2{
  font-size:30px;
  margin-bottom: 0%;
} 

.shiprlift-contactpage-hero h1{
  font-size:11px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 0%;
  padding-left: 1%;
} 

.shiprlift-contactpage-hero p{
  font-family:unset ;
  display: none;
} 

.shiprlift-contactpage-slider{
width:6%;
background: transparent;
border: transparent;
border-radius: 90%;
margin-top:3vh;
margin-left: 15%;
}

.shiprlift-contactpage-slide img{
width:70%;
margin-top: 0vh;
}

.shiprlift-contactpage-buttons{
margin-top:15px;
display:flex;
background-color: #25D366;
width: 0%;
gap:20px;
}

.shiprlift-contactpage-buttons button{
padding:8px 14px;
border:none;
background:#0b7dda;
color:white;
cursor:pointer;
border-radius:4px;
}



.shiprlift-contactpage-heroimg img{
  margin-left: 10%;
  width: 85%;
}

.shiprlift-contactpage-whycard{
background: white;
color: black;
}

.shiprlift-contactpage-herotext{
  /* background-color: aqua; */
  width: 1100%;
}



.info p{
  text-align: center;
  font-family: initial;
}

.shiprlift-contactpage-info{
flex-direction:column;
align-items:center;
}


.shiprlift-contactpage-formbox{
 margin-left:2%;
}

.shiprlift-contactpage-forms{
flex-direction:column;
display: grid;
padding: 0%;
align-items:center;
}


.lk{  background-color:transparent;
  border-radius:0%;
}
.ikk{
  height: 93vh;
  color: white;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  background-color: black;
  border-radius: 0%;
}



.lk h2{
  margin-top: 5%;
  padding-top: 3vh;
  font-family:inherit;
  text-align: center;
}

.lk p{
  text-align: center;
  font-size: 13px;
  padding: 0%;
  margin: 0%;
  font-family: initial;
}

.lk p:hover{
  color: white;
  text-decoration: underline;
}

.lk h3{
  text-align: center;
  font-size: 11px;
  font-family: monospace;
}

.ikk h1{
  text-align: center;
}

.shiprlift-contactpage-formbox{
 width:95%;
}

.shirlogg h5{
  margin-top: 3px;
  margin-left: 0%;
  padding-left: 0%;
  padding-top: 0%;
}


.shirlogg h6{
  margin-top: 2px;
  font-size: 15px;
  padding-left: 2px;
}


  .phone-icon {
    color: white;
  }

  
  .mail-icon {
    color: white;     /* mobile view */
  }

.phoneopicc{
  display: block;
  margin-top: 0vh;
  margin-right: 0%;
   padding-right: 0%;
}

.phoneopicc img{
   width:50%;
}

.shiprlift-contactpage-map{
  margin-top: 80vh;
}

}