.goog-te-gadget {
  font-size: 14px !important;
}

.goog-te-gadget-simple {
  border: none !important;
}

.goog-te-menu-value span {
  color: black !important; /* change to white if your menu is dark */
}